.episode-page-container {
    padding: 10px 100px;



    .episode__cards {
        display: grid;
        gap: 20px;
        margin: 30px 0;
        width: 100%;
    }
}


.episode-card {
    // background-color: #292b2e;
    background-color: #3c3e44;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-height: 600px;

    *::selection {
        color: black;
        background-color: rgb(172, 122, 30);
    }

    .episode__image {
        flex-basis: 40%;
        background-color: black;

        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
            background: linear-gradient(45deg, #baca2000, transparent);
            border: none;
            outline: none;
        }

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            margin: 0px;
            opacity: 1;
            transition: opacity 0.5s ease 0s;
            object-position: center center;
            object-fit: cover;

            filter: blur(1px);
        }

        span {
            position: absolute;
            top: 50%;
            color: #FFE082;
            font-weight: 800;
            font-family: 'Delicious Handrawn';
            font-size: 32px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .episode__details {
        flex-basis: 60%;
        color: #fff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;
        padding: 10px;
        font-family: 'Lato', sans-serif;
        gap: 20px;




        .episode__name {
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: orange;
            }
        }

        .episode__aired_at,
        .episode__number {
            .title {
                font-size: 15px;
                font-weight: 800;
                color: rgb(158, 158, 158);
            }

            .desc {
                font-size: 14px;
                font-weight: 400;
            }
        }

        .episode__number {
            .desc {
                font-size: 14px;
                font-weight: 400;
            }
        }

    }
}


@media screen and (min-width: 1034px) {
    .episode-page-container {
        .episode__cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}


@media screen and (max-width: 1034px) {
    .episode-page-container {
        .episode__cards {
            grid-template-columns: repeat(3, 1fr);

            .episode-card {

                .episode__image {


                    img {

                        aspect-ratio: 4/3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:968px) {
    .episode-page-container {

        .episode__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media screen and (max-width:768px) {
    .episode-page-container {

        .episode__cards {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}


@media screen and (max-width: 573px) {
    .episode-page-container {
        padding: 10px 20px;
    }
}